@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* .image-background {} */

.text-wrap {
  word-wrap: break-word;
}

.menu-active {
  border-left-width: 2px;
}

/* .img-bg {
  background-image: url('avatar.png');
} */

@media (min-width: 800px) {
  .text-desktop {
    max-width: 205px;
  }
  .time-stamp-desktop {
    max-width: 60px;
  }
}

@media (max-width: 800px) {
  .input-padding {
    padding-left: 15px; 
    padding-right: 15px; 
  }
  .text-tablet {
    max-width: 260px;
  }
  .users-hide {
    width: 0;
    display: none;
  }
  .users-mobile {
    width: 100vw;
    display: flex;;
  }
  .show-block {
    width: 100%;
    display: block;
  }
  .show-flex {
    /* width: 100%; */
    display: flex;
  }
  .navbar-show,
  .add-icon-show {
    display: flex;
  }
  .users-mobile-skeleton {
    width: 100vw;
    display: block;
  }
  .chatroom-hide {
    width: 0;
    display: none;
  }
  .chatroom-mobile {
    display: block;
    width: 100%;
  }
  .arrow-show {
    display: block;
  }
  .input-expand {
    width: 100%;
  }
  .bottom-menu-expand {
    width: 100vw;
  }
  .avatar-show {
    display: block;
  }
  .avatar-hide {
    display: none;
    width: 0;
  }
  .sidebar-hide {
    display: none;
    width: 0;
  }
  .settings-section {
    margin-bottom: 60px;
  }
}

@media (max-width: 500px) {
  .form-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 360px) {
  .text-phone {
    max-width: 260px;
  }
  .chatroom-padding {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 300px) {
  .text-phone {
    max-width: 200px;
  }
}